<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">TuniWay</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if is_granted('ROLE_ADMIN') %}
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_dashboard') }}">Admin Dashboard</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_place_index') }}">Places</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_tour_index') }}">Shared Tours</a>
                    </li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_reservation_index') }}">Mes Réservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_favori_index') }}">Mes Favoris</a>
                        </li>
                        {% if is_granted('ROLE_GUIDE') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_tour_my_tours') }}">My Tours</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>

            <ul class="navbar-nav">
                {% if app.user %}
                    <li class="nav-item">
                        <span class="navbar-text me-3">
                            Bonjour, {{ app.user.username }}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
