{% extends 'base.html.twig' %}

{% block title %}My Favorites{% endblock %}

{% block body %}
    <h1>My Favorites</h1>

    <div class="row">
    {% for favori in favoris %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if favori.place.imageUrl %}
                    <img src="{{ favori.place.imageUrl }}" class="card-img-top" alt="{{ favori.place.name }}">
                {% else %}
                    <div class="card-img-top bg-light d-flex align-items-center justify-content-center" style="height: 200px;">
                        <span>No Image</span>
                    </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ favori.place.name }}</h5>
                    <p class="card-text">{{ favori.place.description|slice(0, 100) ~ '...' }}</p>
                    <a href="{{ path('app_place_show', {'id': favori.place.id}) }}" class="btn btn-primary">View Place</a>
                    <a href="{{ path('app_favori_toggle', {'id': favori.place.id}) }}" class="btn btn-outline-danger btn-sm">Remove</a>
                </div>
            </div>
        </div>
    {% else %}
        <p>You have no favorites yet.</p>
        <a href="{{ path('app_place_index') }}">Explore Places</a>
    {% endfor %}
    </div>
{% endblock %}
